Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

refactor(docs): Modularize CLAUDE.md into .claude/ directory
  .artifacts/docs_audit/single_file_02_controller_performance_comparison_report.json
  .artifacts/docs_audit/single_file_sta_smc_technical_guide_report.json
  .claude/agent_orchestration.md
  .claude/controller_memory.md
  .claude/documentation_quality.md
  .claude/repository_management.md
  .claude/session_continuity.md
  .claude/testing_standards.md
  .claude/workspace_organization.md
  CLAUDE.md
Due: none

docs(workspace): Document lessons learned from Oct 2025 cleanup
  .claude/WORKSPACE_CLEANUP_2025-10-09.md
  .claude/workspace_organization.md
  CLAUDE.md
Due: none

docs(workspace): Streamline organization docs to actionable items only
  .claude/workspace_organization.md
  CLAUDE.md
Due: none

docs(sphinx): Fix horizontal rules in for_reviewers/ directory - 68 HRs removed
  .artifacts/sphinx_horizontal_rules_fix_completion.md
  docs/conf.py
  docs/for_reviewers/README.md
  docs/for_reviewers/citation_faq.md
  docs/for_reviewers/citation_quick_reference.md
  docs/for_reviewers/reproduction_guide.md
  docs/for_reviewers/theorem_verification_guide.md
  docs/for_reviewers/verification_checklist.md
  scripts/fix_horizontal_rules.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Fix critical formatting issues - 145% build progress
  docs/conf.py
  docs/development/quality_gates.md
  docs/for_reviewers/verification_checklist.md
  docs/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Fix all concatenated headings in optimization_simulation/guide.md
  docs/optimization_simulation/guide.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Fix Sphinx documentation warnings systematically
  docs/bib/smc.bib
  docs/bibliography.md
  docs/conf.py
  scripts/docs/fix_sphinx_headers.py
Due: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

refactor(quality): Fix code quality issues from RUFF/VULTURE analysis
  mcp-debugging/analysis_results/RUFF_FINDINGS_20251010_INITIAL.md
  mcp-debugging/analysis_results/VULTURE_FINDINGS_20251010_INITIAL.md
  src/analysis/performance/robustness.py
  tests/debug/test_lyap_fresh.py
  tests/debug/test_minimal_import.py
  tests/test_documentation/test_cross_references.py
Due: none

docs(mcp): Add Phase 1-2 completion progress report
  mcp-debugging/analysis_results/MCP_DEBUGGING_PROGRESS_20251010.md
Due: none

feat(mcp): Add comprehensive Playwright MCP debugging workflows
  .claude/commands/analyze-dashboard.md
  .claude/commands/test-browser.md
  mcp-debugging/MCP_SERVER_CAPABILITIES_MATRIX.md
  mcp-debugging/README.md
  mcp-debugging/templates/analysis-report-template.md
  mcp-debugging/templates/bug-report-template.md
  mcp-debugging/workflows/code-quality-analysis.md
  mcp-debugging/workflows/complete-debugging-workflow.md
  mcp-debugging/workflows/streamlit-testing-workflow.md
  package.json
Due: none

docs(mcp): Add Quick Reference Guide and improve MCP documentation
  mcp-debugging/QUICK_REFERENCE.md
  mcp-debugging/README.md
Due: none

fix(tests): Fix pytest.skip module-level usage and add MCP debugging report
  .claude/mcp_debugging/session_reports/DEBUGGING_SESSION_2025-10-10.md
  tests/test_documentation/test_code_examples.py
Due: none

docs(sphinx): Comprehensive Sphinx documentation navigation fix
  .claude/mcp_debugging/sphinx_reports/SPHINX_FIX_REPORT_2025-10-10.md
  .claude/mcp_debugging/sphinx_reports/orphaned_files.txt
  docs/conf.py
  docs/index.md
  docs/presentation/index.md
  docs/production/index.md
  docs/reports/index.md
  scripts/find_orphaned_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Phase 2 - Complete navigation enhancement for 167+ orphaned files
  docs/factory/README.md
  docs/index.md
  docs/mathematical_foundations/index.md
  docs/mcp-debugging/index.md
  docs/plans/index.md
  docs/reference/index.md
  docs/testing/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Phase 3 - API documentation hub and root-level organization
  docs/api/index.md
  docs/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Phase 5 - malformed headers, bibliography deduplication, and navigation indices
  docs/analysis/index.md
  docs/benchmarks/index.md
  docs/bibliography.md
  docs/control_law_testing_standards.md
  docs/index.md
  docs/references/bibliography.md
  docs/reports/index.md
  docs/sphinx_build_phase5.log
  docs/technical/index.md
  docs/testing/standards/testing_standards.md
  docs/theory/notation_and_conventions.md
  docs/troubleshooting/index.md
  docs/tutorials/index.md
  docs/validation/index.md
  docs/workflows/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
