Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

docs: Phase 1 verification and link fixes after cleanup
  docs/CITATIONS.md
  docs/architecture_control_room.md
  docs/bibliography.md
  docs/documentation_structure.md
  docs/meta/DOCUMENTATION_MAP.md
  docs/meta/SPHINX_BUILD_STATUS.md
  docs/tutorials/03_STATUS.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Create master navigation hub (NAVIGATION.md) linking all 985 files
  CLAUDE.md
  README.md
  docs/NAVIGATION.md
  docs/architecture_control_room.md
  docs/guides/INDEX.md
  docs/index.md
  docs/sitemap_cards.md
  docs/sitemap_interactive.md
  docs/sitemap_visual.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(MT-8): Complete disturbance rejection analysis with robust PSO
  benchmarks/MT8_COMPLETE_REPORT.md
  benchmarks/MT8_robust_validation_summary.json
  scripts/mt8_validate_simple.py
Due: none

feat(MT-8): Update config.yaml with robust PSO optimized gains
  config.yaml
Due: none

feat(MT-8): Add extended validation for sinusoidal/random disturbances
  benchmarks/MT8_extended_validation_results.json
  scripts/mt8_extended_validation.py
Due: none

docs(LT-7): Add MT-8 disturbance rejection to paper (Section 6.5 + 8.2)
  benchmarks/LT7_RESEARCH_PAPER.md
Due: none

feat(MT-8): Implement adaptive gain scheduling (Enhancement #3)
  benchmarks/MT8_adaptive_scheduling_results.json
  scripts/mt8_adaptive_scheduling_validation.py
  src/controllers/adaptive_gain_scheduler.py
Due: none

feat(Enhancement-2): Comprehensive automated link validation system
  .project/dev_tools/README_LINK_VALIDATION.md
  .project/dev_tools/test_validation.py
  .project/dev_tools/validate_docs_links.py
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

docs(MT-8): Document adaptive scheduling validation results
  benchmarks/MT8_ADAPTIVE_SCHEDULING_SUMMARY.md
  benchmarks/MT8_adaptive_scheduling_results.json
Due: none

feat(Enhancement-4): Complete beginner roadmap Phases 2.4, 2.5, 3, 4, 5
  .project/ai/edu/beginner-roadmap.md
  docs/NAVIGATION.md
  docs/guides/INDEX.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(MT-8): Add HIL validation script for adaptive scheduling
  benchmarks/MT8_hil_validation_results.json
  scripts/mt8_hil_validation.py
Due: none

docs(MT-8): Document HIL validation with critical overshoot trade-off
  benchmarks/MT8_HIL_VALIDATION_SUMMARY.md
  benchmarks/MT8_hil_validation_results.json
Due: none

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
