Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

fix(factory): Add missing controller gains to config.yaml
  config.yaml
  coverage.xml
  scripts/tutorials/tutorial_06_robustness.py
  scripts/tutorials/tutorial_07_multi_objective.py
Due: none

fix(tests): Update API compatibility for controller factory and DIPDynamics
  scripts/tutorials/tutorial_06_robustness.py
  scripts/tutorials/tutorial_07_multi_objective.py
  tests/test_integration/test_cross_component.py
Due: none

docs: Document SimulationRunner API mismatch technical debt
  .project/dev_tools/TECHNICAL_DEBT_SIMULATION_RUNNER_API.md
Due: none

fix(simulation): Migrate tests and tutorials to run_simulation functional API
  scripts/tutorials/tutorial_06_robustness.py
  scripts/tutorials/tutorial_07_multi_objective.py
  tests/test_integration/test_cross_component.py
Due: none

docs: Mark SimulationRunner API mismatch as resolved
  .project/dev_tools/TECHNICAL_DEBT_SIMULATION_RUNNER_API.md
Due: none

fix(tests): Phase 1 - Fix test suite API compatibility and metrics
  .mcp.json
  config.yaml
  coverage.xml
  src/config/schemas.py
  src/controllers/factory/factory_new/registration.py
  src/core/dynamics_full.py
  tests/test_integration/test_cross_component.py
Due: none

feat(setup): Add professional setup.py for editable install + Phase 2 documentation
  setup.py
Due: none

refactor(exercises): Migrate 3 exercise solutions to run_simulation functional API
  docs/guides/exercises/solutions/exercise_01_solution.py
  docs/guides/exercises/solutions/exercise_02_solution.py
  docs/guides/exercises/solutions/exercise_03_solution.py
Due: docs-encoding-check

docs(learning): Add breadcrumb navigation and fix internal links
  docs/learning/README.md
  docs/learning/beginner-roadmap.md
  docs/learning/beginner-roadmap/phase-1-foundations.md
  docs/learning/beginner-roadmap/phase-2-core-concepts.md
  docs/learning/beginner-roadmap/phase-3-hands-on.md
  docs/learning/beginner-roadmap/phase-4-advancing-skills.md
  docs/learning/beginner-roadmap/phase-5-mastery.md
  docs/learning/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

fix(tutorials): Fix import path and config loading in tutorials 06 and 07
  scripts/tutorials/tutorial_06_robustness.py
  scripts/tutorials/tutorial_07_multi_objective.py
Due: none

docs(factory): Add SimulationRunner to run_simulation API migration guide
  docs/factory/migration_guide.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(learning): Update phase diagram navigation and cross-references
  docs/learning/beginner-roadmap/phase-1-diagrams.md
  docs/learning/beginner-roadmap/phase-3-diagrams.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(changelog): Document beginner-roadmap Unicode arrow fixes
  CHANGELOG.md
Due: none

fix(ui): Integrate back-to-top button with Furo scroll visibility control
  CHANGELOG.md
  docs/_static/custom.css
  docs/_static/smooth-scroll-fix.js
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
