Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$

Sphinx Documentation Integration: Complete Citation System Sync
  docs/bib/adaptive.bib
  docs/bib/fdi.bib
  docs/bib/numerical.bib
  docs/bib/pso.bib
  docs/bib/smc.bib
  docs/bib/stability.bib
  docs/bibliography.md
  docs/conf.py
  docs/index.md
  docs/references/bibliography.md
Due: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Fix Sphinx Windows Encoding Error: Disable Mermaid Extension
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

Documentation: Visual Audit UX Improvements & Back to Top Button
  docs/_static/back-to-top.js
  docs/_static/custom.css
  docs/conf.py
  docs_visual_audit_report.md
  scripts/analysis/fix_screenshot_timeouts.py
  scripts/analysis/verify_back_to_top.py
Due: sphinx-build-check, docs-encoding-check

Documentation: Phase 3 & 4.1 Performance and Dark Mode Enhancements
  docs/_static/custom.css
  docs/_static/dark-mode.js
  docs/_static/lazy-load.js
  docs/conf.py
  scripts/analysis/performance_audit.py
  scripts/analysis/screenshot_docs.py
Due: sphinx-build-check, docs-encoding-check

Documentation Enhancement: Optional Features Phase 4.2-4.4
  docs/_static/back-to-top.js
  docs/_static/custom.css
  docs/presentation/index.md
  docs/testing/accessibility_checklist.md
  scripts/analysis/accessibility_audit.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Documentation Planning: Week 1 Foundation & Automation Plan
  docs/plans/documentation/README.md
  docs/plans/documentation/week_1_foundation_automation.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 1 Validation: Comprehensive Testing & Quality Assurance
  docs/plans/documentation/week_1_completion_report.md
  docs/plans/documentation/week_1_quality_analysis.md
  scripts/docs/generate_code_docs.py
  scripts/docs/quick_validate.sh
  scripts/docs/validate_week1.ps1
  scripts/docs/validate_week1.sh
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Phase 2 Documentation: Mathematical Foundations & Optimization Theory
  docs/controllers/adaptive_smc_technical_guide.md
  docs/controllers/classical_smc_technical_guide.md
  docs/controllers/control_primitives_reference.md
  docs/controllers/factory_system_guide.md
  docs/controllers/index.md
  docs/controllers/sta_smc_technical_guide.md
  docs/index.md
  docs/mathematical_foundations/advanced_algorithms_guide.md
  docs/mathematical_foundations/controller_comparison_theory.md
  docs/mathematical_foundations/dynamics_derivations.md
  docs/mathematical_foundations/index.md
  docs/mathematical_foundations/numerical_integration_theory.md
  docs/mathematical_foundations/optimization_landscape_analysis.md
  docs/mathematical_foundations/pso_algorithm_theory.md
  docs/mathematical_foundations/simulation_architecture_guide.md
  docs/mathematical_foundations/smc_complete_theory.md
  docs/mathematical_foundations/validation_framework_guide.md
  docs/optimization/pso_core_algorithm_guide.md
  docs/plans/documentation/README.md
  docs/plans/documentation/phase_2_metrics_report.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 6 Phase 1 Validation: Comprehensive Testing & Quality Assessment
  docs/WEEK6_PHASE1_VALIDATION_REPORT.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 6 Phase 1 Complete: Enhanced Adaptive, STA, Hybrid SMC Documentation
  docs/reference/controllers/smc_algorithms_adaptive_controller.md
  docs/reference/controllers/smc_algorithms_hybrid_controller.md
  docs/reference/controllers/smc_algorithms_super_twisting_controller.md
  scripts/docs/enhance_api_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 6 Phase 1 Status Update: Validation Report Reflects 100% Completion
  docs/WEEK6_PHASE1_VALIDATION_REPORT.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 7 Phase 1 Complete: Enhanced Benchmarking Documentation
  docs/WEEK7_PHASE1_VALIDATION_REPORT.md
  docs/reference/analysis/validation_metrics.md
  docs/reference/analysis/validation_monte_carlo.md
  docs/reference/analysis/validation_statistical_benchmarks.md
  docs/reference/benchmarks/statistical_benchmarks_v2.md
  scripts/docs/enhance_api_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 7 Phase 2 Complete: HIL System Documentation Enhancement
  WEEK7_PHASE2_VALIDATION_REPORT.md
  docs/reference/interfaces/hil___init__.md
  docs/reference/interfaces/hil_controller_client.md
  docs/reference/interfaces/hil_data_logging.md
  docs/reference/interfaces/hil_enhanced_hil.md
  docs/reference/interfaces/hil_fault_injection.md
  docs/reference/interfaces/hil_plant_server.md
  docs/reference/interfaces/hil_real_time_sync.md
  docs/reference/interfaces/hil_simulation_bridge.md
  docs/reference/interfaces/hil_test_automation.md
  scripts/docs/enhance_hil_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 8 Phase 2 Complete: Plant Dynamics Documentation Enhancement
  WEEK8_PHASE2_VALIDATION_REPORT.md
  docs/reference/plant/core___init__.md
  docs/reference/plant/core_dynamics.md
  docs/reference/plant/core_numerical_stability.md
  docs/reference/plant/core_physics_matrices.md
  docs/reference/plant/core_state_validation.md
  docs/reference/plant/models_base___init__.md
  docs/reference/plant/models_base_dynamics_interface.md
  docs/reference/plant/models_simplified___init__.md
  docs/reference/plant/models_simplified_config.md
  docs/reference/plant/models_simplified_dynamics.md
  docs/reference/plant/models_simplified_physics.md
  scripts/docs/enhance_plant_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 9 Phase 1 Complete: Controllers Core Infrastructure Documentation Enhancement
  WEEK9_PHASE1_VALIDATION_REPORT.md
  docs/reference/controllers/base_control_primitives.md
  docs/reference/controllers/base_controller_interface.md
  docs/reference/controllers/factory_pso_integration.md
  docs/reference/controllers/factory_smc_factory.md
  docs/reference/controllers/smc_core_equivalent_control.md
  docs/reference/controllers/smc_core_gain_validation.md
  docs/reference/controllers/smc_core_sliding_surface.md
  docs/reference/controllers/smc_core_switching_functions.md
  scripts/docs/enhance_controllers_core_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Week 9 Phase 2 Complete: Controllers Algorithms Documentation Enhancement
  WEEK9_PHASE2_VALIDATION_REPORT.md
  docs/reference/controllers/smc_algorithms_adaptive_adaptation_law.md
  docs/reference/controllers/smc_algorithms_adaptive_controller.md
  docs/reference/controllers/smc_algorithms_adaptive_parameter_estimation.md
  docs/reference/controllers/smc_algorithms_classical_boundary_layer.md
  docs/reference/controllers/smc_algorithms_classical_controller.md
  docs/reference/controllers/smc_algorithms_hybrid_controller.md
  docs/reference/controllers/smc_algorithms_hybrid_switching_logic.md
  docs/reference/controllers/smc_algorithms_super_twisting_controller.md
  docs/reference/controllers/smc_algorithms_super_twisting_twisting_algorithm.md
  scripts/docs/enhance_controllers_algorithms_docs.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check
