Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

docs(LT-7): Add LaTeX compilation diagnostic report - Phase 2 blocked
  .artifacts/research/papers/LT7_journal_paper/LT7_LATEX_COMPILATION_REPORT.md
Due: none

docs(LT-7): Add PATH D comprehensive summary - Campaign complete
  .artifacts/research/papers/LT7_journal_paper/LT7_PATH_D_SUMMARY.md
Due: none

chore: Remove empty documentation directories - Phase 1
  docs/.gitignore
  docs/datasheets/.gitkeep
  docs/img/.gitkeep
Due: none

chore: Consolidate documentation structure - Phase 3 (LT-7 readiness)
  docs/benchmarks/results/index.md
  docs/benchmarks/results/plots/.gitkeep
  docs/index.md
  docs/testing/coverage/README.md
  docs/testing/coverage/index.md
  docs/testing/how-to/testing-and-benchmarks.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Add documentation archive recovery guide - Phase 4 (LT-7 readiness)
  .artifacts/research/docs_historical/QUICK_RECOVERY.md
Due: none

docs: Delete duplicate and backup files - Action 1 (25 KB saved)
  docs/reference/presentation/results-discussion.md
  docs/testing/pytest_reports/test_report_20251108_172730.md
  docs/testing/pytest_reports/test_report_20251108_173330.md
  docs/testing/pytest_reports/test_report_20251108_173903.md
  docs/testing/pytest_reports/test_report_20251108_175221.md
  docs/testing/pytest_reports/test_report_20251108_175336.md
  docs/testing/pytest_reports/test_report_20251108_175745.md
  docs/testing/reports/guides/control_systems_unit_testing.md
  docs/testing/reports/guides/performance_benchmarking.md
  docs/testing/test_execution_execution_guide.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Archive Phase 5 QA validation reports - Action 2 (35 KB saved)
  .artifacts/qa_audits/phase5/validation_reports/getting-started-validation-report.md
  .artifacts/qa_audits/phase5/validation_reports/tutorial-01-validation-report.md
  docs/guides/INDEX.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Archive September test failure artifacts - Action 3 (684 KB saved)
  .artifacts/testing/historical_failures/2025-09-30/executive/executive_summary.md
  .artifacts/testing/historical_failures/2025-09-30/failure_breakdown.md
  .artifacts/testing/historical_failures/2025-09-30/pso_convergence_analysis.md
  .artifacts/testing/historical_failures/2025-09-30/pso_fitness_investigation.md
  .artifacts/testing/historical_failures/2025-09-30/raw_output/pytest_error_log.txt.gz
  .artifacts/testing/historical_failures/2025-09-30/raw_output/pytest_error_log_enhanced.txt.gz
  .artifacts/testing/historical_failures/2025-09-30/technical/control_theory_analysis.md
  .artifacts/testing/historical_failures/2025-09-30/technical/resolution_roadmap.md
  .artifacts/testing/historical_failures/2025-09-30/technical_analysis.md
  .artifacts/testing/historical_failures/2025-09-30/templates/executive_summary_template.md
  .artifacts/testing/historical_failures/2025-09-30/test_failure_analysis.md
  docs/testing/README.md
  docs/testing/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Update ARCHIVE_INDEX.md with deep dive optimization results
  .artifacts/research/docs_historical/archive_index/ARCHIVE_INDEX.md
Due: none

docs: Add comprehensive docs optimization campaign summary
  .artifacts/research/docs_historical/DOCS_OPTIMIZATION_SUMMARY.md
Due: none

docs: Merge duplicate directories in docs/ structure (Phase 1)
  .project/ai/guides/docs_reorganization_execution_plan.md
  .project/ai/guides/docs_structure_analysis.md
  docs/reference/legacy/bibliography.md
  docs/reference/legacy/index.md
  docs/reference/legacy/notation_guide.md
  docs/reference/legacy/refs.bib
  docs/workflows/research_workflow.md
Due: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Organize docs/reference/ root files into subdirectories (Phase 2)
  docs/reference/config/configuration_schema_validation.md
  docs/reference/controllers/CONTROLLER_FACTORY.md
  docs/reference/overview/PACKAGE_CONTENTS.md
  docs/reference/plant/PLANT_CONFIGURATION.md
  docs/reference/plant/PLANT_MODEL.md
  docs/reference/quick_reference/symbols.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Add comprehensive documentation organization guide
  .project/ai/guides/DOCS_ORGANIZATION_GUIDE.md
Due: none

docs: Fix bibliography path warning in Sphinx configuration (Phase 3)
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

docs: Update navigation references to new paths (Phase 4)
  docs/for_reviewers/README.md
  docs/for_reviewers/theorem_verification_guide.md
  docs/for_reviewers/verification_checklist.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Consolidate small directories for better organization (Phase 5)
  .project/ai/planning/code_quality/CODE_BEAUTIFICATION_SPECIALIST_COMPREHENSIVE_ASSESSMENT.md
  .project/ai/planning/issues/GITHUB_ISSUE_9_ULTIMATE_ORCHESTRATOR_STRATEGIC_PLAN.md
  DProjectsmain.artifactstemp_tree.txt
  docs/numerical_stability/safe_operations_reference.md
  docs/optimization/simulation/guide.md
  docs/optimization/simulation/index.md
  docs/theory/advanced_numerical_stability.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Add comprehensive summary for Phases 3-5 reorganization
  .project/ai/guides/DOCS_PHASES_3_4_5_SUMMARY.md
Due: none

docs: Add comprehensive docs/ folder structure report
  .project/ai/guides/DOCS_FOLDER_COMPLETE_REPORT.md
Due: none

docs: Add Phase 1 improvements to reorganization completion report
  .project/ai/guides/DOCS_REORGANIZATION_PROJECT_COMPLETION_REPORT.md
Due: none

docs: Add comprehensive audit of docs reorganization completion report
  .project/ai/guides/DOCS_REORGANIZATION_REPORT_AUDIT.md
Due: none

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
