Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

feat(research): Create 11 self-contained citation prompts for formal theorems
  .artifacts/formal_theorem_prompts/PROMPT_01_Fault_Detection_Hysteresis.md
  .artifacts/formal_theorem_prompts/PROMPT_02_PSO_Global_Asymptotic_Stability.md
  .artifacts/formal_theorem_prompts/PROMPT_03_PSO_Lyapunov_Stability.md
  .artifacts/formal_theorem_prompts/PROMPT_04_PSO_Particle_Convergence.md
  .artifacts/formal_theorem_prompts/PROMPT_05_PSO_Global_Convergence_Unimodal.md
  .artifacts/formal_theorem_prompts/PROMPT_06_Sliding_Surface_Exponential_Stability.md
  .artifacts/formal_theorem_prompts/PROMPT_07_SMC_Reaching_Condition_Finite_Time.md
  .artifacts/formal_theorem_prompts/PROMPT_08_Classical_SMC_Global_Finite_Time.md
  .artifacts/formal_theorem_prompts/PROMPT_09_Super_Twisting_Algorithm_Finite_Time.md
  .artifacts/formal_theorem_prompts/PROMPT_10_Adaptive_SMC_Control_Law.md
  .artifacts/formal_theorem_prompts/PROMPT_11_Boundary_Layer_Tracking_Error_Bound.md
  .artifacts/formal_theorem_prompts/README.md
Due: none

feat(citations): Phase 1.1 Complete - Add 24 academic citations to BibTeX files
  docs/bib/fdi.bib
  docs/bib/pso.bib
  docs/bib/smc.bib
Due: bibtex-validate, citation-check

feat(citations): Phase 2.1 Complete - Map 11 theorem claims to 21 documentation locations
  .artifacts/citation_mapping.json
Due: none

feat(citations): Phase 2.2 Complete - Insert {cite} references in 8 theory theorems
  docs/theory/pso_optimization_complete.md
  docs/theory/smc_theory_complete.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(citations): Phase 3.1 Complete - Update 3 controller docstrings with academic citations
  src/controllers/smc/adaptive_smc.py
  src/controllers/smc/classic_smc.py
  src/controllers/smc/sta_smc.py
Due: none

feat(citations): Phase 5.1 Complete - Create automated citation validation scripts
  scripts/docs/generate_citation_report.py
  scripts/docs/validate_citations.py
  scripts/docs/validate_dois.py
Due: none

feat(citations): Complete Week 5-7 Citation Integration Project
  .artifacts/CITATION_INTEGRATION_SUMMARY.md
Due: none

fix(scripts): Add Windows UTF-8 encoding support to validation scripts
  scripts/docs/generate_citation_report.py
  scripts/docs/validate_citations.py
  scripts/docs/validate_dois.py
Due: none

docs(claude): Replace Unicode emojis with ASCII for Windows compatibility
  docs/CLAUDE.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

refactor(docs): Move CLAUDE.md to root directory
  CLAUDE.md
Due: none

fix(scripts): Fix BibTeX parser to correctly detect DOI/URL fields
  scripts/docs/generate_citation_report.py
  scripts/docs/validate_citations.py
  scripts/docs/validate_dois.py
Due: none

fix(docs): Fix 8 broken citation references to match BibTeX keys
  docs/theory/pso_optimization_complete.md
  docs/theory/smc_theory_complete.md
  scripts/docs/map_broken_references.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(citations): Add 11 missing BibTeX entries and resolve all broken references
  docs/bib/dip.bib
  docs/bib/pso.bib
  docs/bib/smc.bib
  docs/theory/pso_optimization_complete.md
  docs/theory/smc_theory_complete.md
  docs/theory/system_dynamics_complete.md
Due: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(citations): Add DOI/URL to 21 BibTeX entries (94.7% coverage)
  docs/bib/dip.bib
  docs/bib/fdi.bib
  docs/bib/numerical.bib
  docs/bib/pso.bib
  docs/bib/smc.bib
  docs/bib/software.bib
Due: bibtex-validate, citation-check

docs(citations): Complete Week 8 Phase 2 - DOI Accessibility Validation
  .artifacts/CITATION_INTEGRATION_SUMMARY.md
  .artifacts/citation_report.md
Due: none

feat(citations): Achieve 100% DOI/URL coverage (94/94 entries)
  docs/bib/adaptive.bib
  docs/bib/stability.bib
Due: bibtex-validate, citation-check

docs(citations): Complete citation accuracy audit for 11 FORMAL-THEOREM claims
  .artifacts/accuracy_audit.md
Due: none

docs(citations): Add comprehensive mathematical notation guide
  docs/references/notation_guide.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
