Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

feat(ui): Comprehensive Streamlit dashboard intro enhancement
  streamlit_app.py
Due: none

docs(sphinx): Phase 1 partial - Re-include directories and begin error fixes
  docs/conf.py
  docs/reports/issue_10_ultrathink_resolution.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Phase 1.7 complete - Fix all 5 transition errors
  docs/test_execution_guide.md
  docs/test_infrastructure_validation_report.md
  docs/theory/pso_algorithm_foundations.md
  docs/workflows/pytest_testing_workflow.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(sphinx): Phase 1 complete - Content completeness verified
  .artifacts/phase1_completion_summary.md
Due: none

docs(sphinx): Phase 2 complete - Re-enable autosectionlabel extension
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

docs(sphinx): COMPLETE - 100% documentation system ready for publication
  .artifacts/sphinx_completion_report_final.md
Due: none

docs(sphinx): Phase 6 VALIDATION COMPLETE - Production deployment approved
  .artifacts/phase6_validation_report.md
Due: none

docs(sphinx): FINAL - Complete summary and production approval
  .artifacts/SPHINX_COMPLETE_SUMMARY.md
Due: none

docs(sphinx): Session continuity and documentation structure updates
  .artifacts/analyze_sphinx_warnings.py
  .artifacts/categorize_sphinx_warnings.py
  .artifacts/category2_h1h3_completion_report.md
  .artifacts/category3_h1h4_completion_report.md
  .artifacts/check_account_contents.ps1
  .artifacts/check_claude_dirs.ps1
  .artifacts/current_sphinx_build.log
  .artifacts/fix_simulation_md.py
  .artifacts/fix_transitions_dryrun.log
  .artifacts/phase12_dryrun.log
  .artifacts/phase12_execution.log
  .artifacts/phase1_1_build.log
  .artifacts/sphinx_documentation_status_report.md
  .artifacts/sphinx_warnings_analysis_phase12.md
  .artifacts/ultrathink_plan_category1_h2h4_fixes.md
  .artifacts/warnings_list.txt
  .claude/settings.local.json
  .dev_tools/MULTI_ACCOUNT_GUIDE.md
  .dev_tools/session_manager.py
  .dev_tools/session_state.json
  docs/api/index.md
  docs/documentation_structure.md
  docs/guides/api/simulation.md
  docs/index.md
  docs/reference/analysis/core_interfaces.md
  docs/reference/controllers/smc_algorithms_hybrid_switching_logic.md
  docs/reference/optimization/integration_pso_factory_bridge.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(ux): Fix sidebar navigation and landing page structure
  docs/conf.py
  docs/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(ux): Fix sidebar navigation - replace fragmented toctrees with unified hierarchy
  docs/documentation_structure.md
  docs/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(ux): Add modern visual navigation system - mindmap, interactive graph, card view
  docs/_static/visual-sitemap.js
  docs/_static/visual-tree.css
  docs/conf.py
  docs/index.md
  docs/sitemap_cards.md
  docs/sitemap_interactive.md
  docs/sitemap_visual.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(ux): Add isometric control room visualization - 3D system architecture
  docs/_static/control-room.css
  docs/_static/control-room.js
  docs/architecture_control_room.md
  docs/conf.py
  docs/index.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(ux): Add collapsible code blocks with curtain animation
  docs/_static/code-collapse.css
  docs/_static/code-collapse.js
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

docs(ux): Improve collapsible code blocks styling and coverage
  .dev_tools/session_state.json
  docs/_static/code-collapse.css
  docs/_static/code-collapse.js
Due: none

docs(ux): Fix collapsible code blocks selector coverage
  docs/_static/code-collapse.js
Due: none

test: Add comprehensive automated browser testing suite
  docs/testing/PHASE6_TEST_EXECUTION_REPORT.md
  tests/browser_automation/AUTOMATED_TESTING_COMPLETE.md
  tests/browser_automation/README.md
  tests/browser_automation/__init__.py
  tests/browser_automation/conftest.py
  tests/browser_automation/run_tests.py
  tests/browser_automation/test_code_collapse_comprehensive.py
  tests/browser_automation/tests/logs/pytest.log
  tests/browser_automation/utils/__init__.py
  tests/browser_automation/utils/performance_analyzer.py
  tests/browser_automation/utils/playwright_helper.py
  tests/browser_automation/utils/screenshot_manager.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

fix(tests): Fix button gap measurement and CSS positioning
  docs/_static/code-collapse.css
  tests/browser_automation/utils/playwright_helper.py
Due: none

fix(tests): Update master control button selector
  tests/browser_automation/utils/playwright_helper.py
Due: none

fix(tests): Adjust FPS threshold from 55 to 45 FPS
  tests/browser_automation/test_code_collapse_comprehensive.py
  tests/browser_automation/utils/performance_analyzer.py
Due: none

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
