Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

fix(ui): Implement unified dual-system architecture for back-to-top button
  CHANGELOG.md
  docs/_static/custom.css
  docs/_static/unified-back-to-top.js
  docs/conf.py
Due: sphinx-build-check, docs-encoding-check

fix(ui): Completely hide Furo back-to-top button to prevent blue flash
  docs/_static/custom.css
Due: none

fix(ui): Ultra-aggressive hiding of all scroll buttons and blue gradients
  docs/_static/custom.css
Due: none

docs(edu): Add NotebookLM podcast series for Phase 2 learning content
  .ai/edu/notebooklm/phase2/README.md
  .ai/edu/notebooklm/phase2/phase2_episode01.md
  .ai/edu/notebooklm/phase2/phase2_episode02.md
  .ai/edu/notebooklm/phase2/phase2_episode03.md
  .ai/edu/notebooklm/phase2/phase2_episode04.md
  .ai/edu/notebooklm/phase2/phase2_episode05.md
  .ai/edu/notebooklm/phase2/phase2_episode06.md
  .ai/edu/notebooklm/phase2/phase2_episode07.md
  .ai/edu/notebooklm/phase2/phase2_episode08.md
  .ai/edu/notebooklm/phase2/phase2_episode09.md
  .ai/edu/notebooklm/phase2/phase2_episode10.md
  .ai/edu/notebooklm/phase2/phase2_episode11.md
  .ai/edu/notebooklm/phase2/phase2_episode12.md
Due: none

docs(edu): Add NotebookLM podcast series for Phase 3 learning content
  .ai/edu/notebooklm/phase3/README.md
  .ai/edu/notebooklm/phase3/phase3_episode01.md
  .ai/edu/notebooklm/phase3/phase3_episode02.md
  .ai/edu/notebooklm/phase3/phase3_episode03.md
  .ai/edu/notebooklm/phase3/phase3_episode04.md
  .ai/edu/notebooklm/phase3/phase3_episode05.md
  .ai/edu/notebooklm/phase3/phase3_episode06.md
  .ai/edu/notebooklm/phase3/phase3_episode07.md
  .ai/edu/notebooklm/phase3/phase3_episode08.md
  CLAUDE.md
Due: none

docs(edu): Add NotebookLM podcast series for Phase 1 Foundations
  CLAUDE.md
  docs/learning/notebooklm/phase1/README.md
  docs/learning/notebooklm/phase1/phase1_episode01.md
  docs/learning/notebooklm/phase1/phase1_episode02.md
  docs/learning/notebooklm/phase1/phase1_episode03.md
  docs/learning/notebooklm/phase1/phase1_episode04.md
  docs/learning/notebooklm/phase1/phase1_episode05.md
  docs/learning/notebooklm/phase1/phase1_episode06.md
  docs/learning/notebooklm/phase1/phase1_episode07.md
  docs/learning/notebooklm/phase1/phase1_episode08.md
  docs/learning/notebooklm/phase1/phase1_episode09.md
  docs/learning/notebooklm/phase1/phase1_episode10.md
  docs/learning/notebooklm/phase1/phase1_episode11.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(notebooklm): Add Phase 4 NotebookLM podcast series (13 episodes)
  docs/learning/notebooklm/phase4/phase4_episode01.md
  docs/learning/notebooklm/phase4/phase4_episode02.md
  docs/learning/notebooklm/phase4/phase4_episode03.md
  docs/learning/notebooklm/phase4/phase4_episode04.md
  docs/learning/notebooklm/phase4/phase4_episode05.md
  docs/learning/notebooklm/phase4/phase4_episode06.md
  docs/learning/notebooklm/phase4/phase4_episode07.md
  docs/learning/notebooklm/phase4/phase4_episode08.md
  docs/learning/notebooklm/phase4/phase4_episode09.md
  docs/learning/notebooklm/phase4/phase4_episode10.md
  docs/learning/notebooklm/phase4/phase4_episode11.md
  docs/learning/notebooklm/phase4/phase4_episode12.md
  docs/learning/notebooklm/phase4/phase4_episode13.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(edu): Add Phase 4 README and update CLAUDE.md with Phase 4 references
  CLAUDE.md
  docs/learning/notebooklm/phase4/README.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(notebooklm): Complete Phase 4 podcast series with proper closure
  CLAUDE.md
  docs/learning/notebooklm/phase4/README.md
  docs/learning/notebooklm/phase4/phase4_episode13.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(notebooklm): Add 20 mechanical control examples for Phase 2 Episode 1
  .ai/edu/notebooklm/phase2/README.md
  .ai/edu/notebooklm/phase2/phase2_episode01.md
  docs/learning/notebooklm/phase2/phase2_episode01_supplementary_examples.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs(testing): Complete Phase 1 of Test Audit with coverage baseline
  .project/ai/testing/PHASE1_BASELINE_REPORT.md
  .project/ai/testing/PHASE1_STATUS.md
  .project/ai/testing/PHASE2_PROGRESS.md
  .project/ai/testing/PHASE3_TOOLS_CHECKLIST.md
  .project/ai/testing/PHASES_2-6_EXECUTION_PLAN.md
  .project/ai/testing/PREPARATION_COMPLETE.md
  .project/ai/testing/TEST_AUDIT_ROADMAP.md
  coverage.xml
Due: none

docs(testing): Complete Phase 2 of Test Audit - Multi-Dimensional Coverage Analysis
  .project/ai/testing/PHASE2_PROGRESS.md
Due: none

docs(testing): Complete Phase 3 test quality audit (streamlined)
  .project/ai/testing/PHASE3_PROGRESS.md
Due: none

docs(testing): Complete Phase 4 structural audit & cleanup
  .project/ai/testing/PHASE4_PROGRESS.md
Due: none

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
