Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

bibtex-validate:
  name: Validate BibTeX files
  entry: python
  language: system
  args:
  - -c
  ...

sphinx-build-check:
  name: Check Sphinx documentation builds
  entry: bash
  language: system
  args:
  - -c
  ...

citation-check:
  name: Validate Sphinx citations
  entry: python scripts/check_citations.py docs/ --fail-on-missing --fail-on-duplicates
  language: system
  pass_filenames: false

doc-consistency-check:
  name: Check documentation consistency
  entry: python
  language: system
  args:
  - -c
  ...

docs-encoding-check:
  name: Check docs encoding/control characters
  entry: python scripts/check_encoding.py docs
  language: system
  pass_filenames: false

docs(MT-8): Document HIL validation with critical overshoot trade-off
  benchmarks/MT8_HIL_VALIDATION_SUMMARY.md
  benchmarks/MT8_hil_validation_results.json
Due: none

docs(MT-8): Complete Enhancement #3 documentation integration
  CHANGELOG.md
  benchmarks/LT7_RESEARCH_PAPER.md
  benchmarks/MT8_COMPLETE_REPORT.md
Due: none

fix: Resolve production readiness assessment issues
  scripts/pytest_automation.py
  src/integration/compatibility_matrix.py
  src/integration/production_readiness.py
Due: none

docs: Add comprehensive navigation system status report
  docs/NAVIGATION_STATUS_REPORT.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

research(Hybrid): Complete Phase 1 architecture investigation
  benchmarks/hybrid_anomaly_trend_analysis.json
  docs/research/hybrid_gain_coordination_analysis.md
  docs/research/scheduler_hybrid_compatibility_audit.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

docs: Add ultra-detailed implementation plan for documentation enhancements
  .project/ai/planning/documentation/DOC_ENHANCEMENT_ULTRAPLAN.md
Due: none

research(Phase 2.1): Gain interference hypothesis testing - partial validation
  artifacts/production_readiness.db
  artifacts/testing/quality_gates_status.json
  artifacts/testing/test_summary_20251108_172730.json
  artifacts/testing/test_summary_20251108_173330.json
  artifacts/testing/test_summary_20251108_173903.json
  artifacts/testing/test_summary_20251108_175221.json
  artifacts/testing/test_summary_20251108_175336.json
  artifacts/testing/test_summary_20251108_175745.json
  benchmarks/research/phase2_1/PHASE2_1_SUMMARY.md
  benchmarks/research/phase2_1/phase2_1_gain_interference_report.json
  coverage_monitoring.db
  docs/testing/pytest_reports/test_report_20251108_172730.md
  docs/testing/pytest_reports/test_report_20251108_173330.md
  docs/testing/pytest_reports/test_report_20251108_173903.md
  docs/testing/pytest_reports/test_report_20251108_175221.md
  docs/testing/pytest_reports/test_report_20251108_175336.md
  docs/testing/pytest_reports/test_report_20251108_175745.md
  scripts/research/phase2_1_test_gain_interference.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

research(Phase 2.1): Complete gain interference validation - hypothesis CONFIRMED
  benchmarks/research/phase2_1/PHASE2_1_FINAL_REPORT.md
  benchmarks/research/phase2_1/debug_single_trial.png
  benchmarks/research/phase2_1/phase2_1_full_run.log
  benchmarks/research/phase2_1/phase2_1_gain_interference_report.json
  docs/conf.py
  requirements.txt
  scripts/research/debug_gains_extraction.py
  scripts/research/debug_phase2_1_single_trial.py
  scripts/research/phase2_1_test_gain_interference.py
Due: sphinx-build-check, docs-encoding-check

research(Phase 2.2): Complete IC-dependent behavior analysis - hypothesis revision needed
  benchmarks/research/phase2_2/PHASE2_2_SUMMARY.md
  benchmarks/research/phase2_2/phase2_2_mode_confusion_comparison.png
  benchmarks/research/phase2_2/phase2_2_mode_confusion_report.json
  scripts/research/phase2_2_test_mode_confusion.py
Due: none

research(Phase 2.2 Revised): Complete adaptive scheduler validation - hypothesis still not validated
  benchmarks/research/phase2_2_revised/PHASE2_2_REVISED_SUMMARY.md
  benchmarks/research/phase2_2_revised/phase2_2_revised_scheduler_comparison.png
  benchmarks/research/phase2_2_revised/phase2_2_revised_scheduler_report.json
  scripts/research/phase2_2_revised_adaptive_scheduler.py
Due: none

feat(docs): Implement custom Lunr.js full-text search with modern UI
  docs/_ext/search_index_generator.py
  docs/_static/search.css
  docs/_static/search.js
  docs/conf.py
  requirements.txt
Due: sphinx-build-check, docs-encoding-check

research(Phase 2.3): Complete feedback loop instability validation - hypothesis CONFIRMED
  benchmarks/research/phase2_3/PHASE2_3_SUMMARY.md
  benchmarks/research/phase2_3/phase2_3_feedback_instability_comparison.png
  benchmarks/research/phase2_3/phase2_3_feedback_instability_report.json
  scripts/research/phase2_3_test_feedback_instability.py
Due: none

fix(docs): Fix search index generation by relaxing exception handling
  docs/_ext/search_index_generator.py
Due: docs-encoding-check

docs(CHANGELOG): Document full-text search feature implementation
  CHANGELOG.md
Due: none

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$
