Repository theSadeQ/dip-smc-pso: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-validate, sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

Path conditions:
  bibtex-validate: any of: ^docs/.*\.bib$
  sphinx-build-check: any of: ^docs/(conf\.py|.*\.md|.*\.rst)$
  citation-check: any of: ^(docs/.*\.(md|bib)|scripts/check_citations\.py)$
  doc-consistency-check: any of: ^docs/.*\.md$
  docs-encoding-check: any of: ^docs/.*\.(md|py)$

feat(week1): Complete QW-3 and QW-4 - PSO visualization and chattering metrics
  src/utils/analysis/chattering.py
  src/utils/visualization/pso_plots.py
  tests/test_utils/test_chattering.py
Due: none

feat(QW-2): Complete Week 1 benchmarks and performance matrix generation
  benchmarks/baseline_performance.csv
  scripts/generate_performance_matrix.py
Due: none

feat(benchmarks): Complete MT-5 comprehensive controller comparison
  benchmarks/MT5_ANALYSIS_SUMMARY.md
  benchmarks/comprehensive_benchmark.csv
  benchmarks/comprehensive_benchmark.json
  scripts/batch_benchmark.py
Due: none

feat(recovery): Implement project-wide recovery system for multi-month gap recovery
  .ai/config/project_state.json
  .ai/planning/README.md
  .dev_tools/README.md
  .dev_tools/project_state_manager.py
  .dev_tools/recover_project.sh
  .dev_tools/roadmap_tracker.py
  CLAUDE.md
Due: none

feat(recovery): Implement fully automated state tracking system
  .dev_tools/README.md
  .dev_tools/shell_init.ps1
  .dev_tools/shell_init.sh
  CLAUDE.md
Due: none

docs(recovery): Add automation quick reference guide
  .dev_tools/AUTOMATION_GUIDE.md
Due: none

test(recovery): Add comprehensive automation test suite and results
  .dev_tools/TEST_RESULTS.md
  .dev_tools/test_automation.sh
  .dev_tools/test_automation_simple.sh
Due: none

feat(recovery): Add /recover slash command for automatic self-recovery
  .claude/commands/recover.md
Due: none

feat(QW-5): Update research status documentation
  .ai/planning/CURRENT_STATUS.md
  .ai/planning/README.md
  CLAUDE.md
Due: none

feat(docs): Enhance validation guide, citation system, monitoring examples
  .ai/config/project_state.json
  .claude/commands/recover.md
  benchmarks/MT6_AGENT_B_STATUS.md
  benchmarks/MT6_CORRECTED_ANALYSIS.md
  benchmarks/MT6_FIXED_BASELINE_REPORT.md
  benchmarks/MT6_adaptive_optimization.csv
  benchmarks/MT6_adaptive_summary.json
  benchmarks/MT6_adaptive_validation.csv
  benchmarks/MT6_fixed_baseline.csv
  benchmarks/MT6_fixed_baseline_summary.json
  benchmarks/mt6_adaptive_optimization.log
  docs/CITATION_SYSTEM.md
  docs/reference/utils/monitoring_latency.md
  docs/validation/simulation_validation_guide.md
  scripts/mt6_adaptive_boundary_layer_pso.py
  scripts/mt6_fixed_baseline.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(MT-6): Complete Phase 2 - Bias hypothesis confirmed, metric fixed
  .ai/config/project_state.json
  benchmarks/MT6_METRIC_ANALYSIS.md
  benchmarks/MT6_PHASE2_FINAL_REPORT.md
  benchmarks/MT6_adaptive_timeseries.npz
  benchmarks/MT6_alternative_metrics.json
  benchmarks/MT6_fixed_timeseries.npz
  benchmarks/MT6_visual_comparison.png
  scripts/mt6_extract_control_signals_simple.py
  scripts/mt6_visualize_chattering.py
  src/controllers/smc/algorithms/classical/boundary_layer.py
Due: none

feat(MT-8): Complete disturbance rejection analysis
  .ai/config/project_state.json
  benchmarks/MT8_PRELIMINARY_REPORT.md
  benchmarks/MT8_disturbance_rejection.csv
  benchmarks/MT8_disturbance_rejection.json
  scripts/mt8_disturbance_rejection.py
  src/utils/disturbances.py
Due: none

feat(recovery): Add agent checkpoint system for multi-agent orchestration
  .ai/config/agent_checkpoint_system.md
  .dev_tools/agent_checkpoint.py
  .dev_tools/recover_project.sh
Due: none

docs(CLAUDE.md): Document agent checkpoint system integration
  CLAUDE.md
Due: none

feat(LT-4): Complete Agent 1 - Lyapunov stability proofs for 5 SMC controllers
  .artifacts/lt4_agent1_theory_complete.json
  .artifacts/lt4_agent1_theory_launched.json
  .artifacts/lt4_handoff.json
  .artifacts/lt4_plan_approved.json
  docs/theory/lyapunov_stability_proofs.md
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(LT-4): Complete Agent 2 - Implementation validation & final deliverables
  .ai/config/project_state.json
  .artifacts/lt4_agent2_validation_complete.json
  .artifacts/lt4_agent2_validation_launched.json
  .artifacts/lt4_validation_report_FINAL.md
  docs/theory/lyapunov_implementation_notes.md
  scripts/validate_stability_margins.py
Due: sphinx-build-check, citation-check, doc-consistency-check, docs-encoding-check

feat(LT-6): Complete model uncertainty analysis
  .ai/config/project_state.json
  benchmarks/LT6_UNCERTAINTY_REPORT.md
  benchmarks/LT6_robustness_ranking.csv
  benchmarks/LT6_uncertainty_analysis.csv
  benchmarks/lt6_model_uncertainty.log
  scripts/lt6_model_uncertainty.py
  src/utils/model_uncertainty.py
Due: none

feat(MT-6): Complete adaptive boundary layer optimization with PSO
  .ai/config/project_state.json
  benchmarks/MT6_COMPLETE_REPORT.md
  benchmarks/MT6_REPORT_TEMPLATE.md
  benchmarks/MT6_adaptive_optimization.csv
  benchmarks/MT6_adaptive_summary.json
  benchmarks/MT6_adaptive_validation.csv
  benchmarks/MT6_statistical_comparison.json
  benchmarks/figures/MT6_performance_comparison.png
  benchmarks/figures/MT6_pso_convergence.png
  benchmarks/mt6_adaptive_optimization.log
  optimization_results/gains_mt6_fixed.json
  optimize_adaptive_boundary.py
  scripts/mt6_adaptive_boundary_layer_pso.py
  scripts/mt6_generate_report.py
  scripts/mt6_statistical_comparison.py
  scripts/mt6_visualize_performance_comparison_simple.py
  scripts/mt6_visualize_pso_convergence.py
Due: none

feat(MT-7): Complete robust PSO validation - MT-6 parameters do NOT generalize
  benchmarks/MT7_COMPLETE_REPORT.md
  benchmarks/MT7_REPORT_TEMPLATE.md
  benchmarks/MT7_robustness_summary.json
  benchmarks/MT7_seed_42_results.csv
  benchmarks/MT7_seed_43_results.csv
  benchmarks/MT7_seed_44_results.csv
  benchmarks/MT7_seed_45_results.csv
  benchmarks/MT7_seed_46_results.csv
  benchmarks/MT7_seed_47_results.csv
  benchmarks/MT7_seed_48_results.csv
  benchmarks/MT7_seed_49_results.csv
  benchmarks/MT7_seed_50_results.csv
  benchmarks/MT7_seed_51_results.csv
  benchmarks/MT7_statistical_comparison.json
  benchmarks/figures/MT7_robustness_chattering_distribution.png
  benchmarks/figures/MT7_robustness_per_seed_variance.png
  benchmarks/figures/MT7_robustness_success_rate.png
  benchmarks/figures/MT7_robustness_worst_case.png
  scripts/mt7_generate_report.py
  scripts/mt7_robust_pso_tuning.py
  scripts/mt7_statistical_comparison.py
  scripts/mt7_visualize_robustness.py
Due: none

fix(docs): Add None guard to mathjax_extension.py to prevent build crashes
  docs/_ext/mathjax_extension.py
Due: docs-encoding-check

test(MT-7): Add comprehensive test suite for all MT-7 scripts
  scripts/lt7_robust_pso_tuning.py
  tests/test_scripts/test_mt7_generate_report.py
  tests/test_scripts/test_mt7_robust_pso_tuning.py
  tests/test_scripts/test_mt7_statistical_comparison.py
  tests/test_scripts/test_mt7_visualize_robustness.py
Due: none

feat(MT-7): Robust PSO validation - MT-6 parameters do NOT generalize to challenging conditions (#22)
  benchmarks/MT7_COMPLETE_REPORT.md
  benchmarks/MT7_REPORT_TEMPLATE.md
  benchmarks/MT7_robustness_summary.json
  benchmarks/MT7_seed_42_results.csv
  benchmarks/MT7_seed_43_results.csv
  benchmarks/MT7_seed_44_results.csv
  benchmarks/MT7_seed_45_results.csv
  benchmarks/MT7_seed_46_results.csv
  benchmarks/MT7_seed_47_results.csv
  benchmarks/MT7_seed_48_results.csv
  benchmarks/MT7_seed_49_results.csv
  benchmarks/MT7_seed_50_results.csv
  benchmarks/MT7_seed_51_results.csv
  benchmarks/MT7_statistical_comparison.json
  benchmarks/figures/MT7_robustness_chattering_distribution.png
  benchmarks/figures/MT7_robustness_per_seed_variance.png
  benchmarks/figures/MT7_robustness_success_rate.png
  benchmarks/figures/MT7_robustness_worst_case.png
  docs/_ext/mathjax_extension.py
  scripts/lt7_robust_pso_tuning.py
  scripts/mt7_generate_report.py
  scripts/mt7_robust_pso_tuning.py
  scripts/mt7_statistical_comparison.py
  scripts/mt7_visualize_robustness.py
  tests/test_scripts/test_mt7_generate_report.py
  tests/test_scripts/test_mt7_robust_pso_tuning.py
  tests/test_scripts/test_mt7_statistical_comparison.py
  tests/test_scripts/test_mt7_visualize_robustness.py
Due: docs-encoding-check
